@{
    ViewData["Title"] = "Мы по вам скучали!";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Вернитесь и узнайте, что нового!</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Прошло много времени с вашего последнего визита! У нас есть новые совпадения и обновления, которые ждут вас.</p>
    <p><a href="@Model.LoginLink">Войдите сейчас</a>, чтобы снова подключиться и исследовать новые профили.</p>
</body>
</html>
