@{
    ViewData["Title"] = "У вас новое совпадение!";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Это совпадение!</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>У вас совпадение с @Model.MatchName. Отправьте сообщение и начните общение!</p>
    <p><a href="@Model.MatchLink">Посмотреть совпадение</a></p>
</body>
</html>
