@{
    ViewData["Title"] = "Кто-то рядом заинтересован в вас!";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Кто-то поблизости может быть вашей парой!</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Мы нашли кого-то неподалеку, кто соответствует вашим предпочтениям. Откройте приложение, чтобы узнать, кто находится рядом!</p>
</body>
</html>
