@{
    ViewData["Title"] = "סטטוס נראות הפרופיל עודכן";
}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>נראות הפרופיל עודכנה</h1>
    <p>שלום @Model.UserName,</p>
    <p>נראות הפרופיל שלך הוגדרה כעת ל-@Model.VisibilityStatus. כדי לשנות זאת, בקר בהגדרות <a href="@Model.ProfileLink">הפרופיל שלך</a>.</p>
</body>
</html>
