@{
    ViewData["Title"] = "Ваш пост был одобрен";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Ваш контент теперь в сети!</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Мы проверили и одобрили вашу последнюю публикацию: <em>@Model.PostTitle</em>. Теперь она видна другим пользователям!</p>
    <p><a href="@Model.ContentLink">Посмотреть ваш пост</a></p>
</body>
</html>
