@{
    ViewData["Title"] = "Celebrating @Model.Milestone!";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Cheers to @Model.Milestone!</h1>
    <p>Hi @Model.UserName,</p>
    <p>We're celebrating a milestone on our platform, and it’s all thanks to users like you. Thank you for being part of our community!</p>
</body>
</html>
