@{
    ViewData["Title"] = "Boost Your Profile Engagement";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Here Are Some Tips to Boost Your Profile!</h1>
    <p>Hello @Model.UserName,</p>
    <p>Based on your activity, we’ve put together some recommendations to help increase your profile visibility:</p>
    <ul>
        <li>Upload a new profile picture</li>
        <li>Update your bio</li>
        <li>Engage with matches more frequently</li>
    </ul>
    <p>Try these tips to make the most of your experience!</p>
</body>
</html>
