@{
    ViewData["Title"] = "Invite Friends and Get Rewarded";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Invite Friends, Earn Rewards!</h1>
    <p>Hello @Model.UserName,</p>
    <p>Know someone who would love our app? Refer them and enjoy a free month of premium service!</p>
    <p><a href="@Model.ReferralLink">Start Referring</a></p>
</body>
</html>
