@{
    ViewData["Title"] = "Inspiring Success Stories";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Success Stories from Our Community</h1>
    <p>Hello @Model.UserName,</p>
    <p>Check out these inspiring stories from users who found success on our platform. Your story could be next!</p>
    <p><a href="@Model.StoriesLink">Read Success Stories</a></p>
</body>
</html>
