@{
    ViewData["Title"] = "תוכנית המנוי עודכנה";
}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>תוכנית המנוי עודכנה</h1>
    <p>שלום @Model.UserName,</p>
    <p>תוכנית המנוי שלך שודרגה/הונמכה (@Model.ChangeType) בהצלחה לתוכנית @Model.NewPlan. תהנה מהתכונות החדשות!</p>
    <p><a href="@Model.AccountLink">צפה בפרטי התוכנית</a></p>
</body>
</html>
