<footer class="bg-transparent footer-color footer-text pt-4">
    <div class="container">
        <div class="row">
            <hr class="bg-light">
            <!-- About Us Section -->
            <div class="col-md-3">
                <h5>About Us</h5>
                <p class="text-muted">We are a platform that connecting people worldwide. Our mission is to help you find meaningful connections and make every moment count.</p>
            </div>

            <!-- Quick Links Section -->
            <div class="col-md-3">
                <h5 class="footer-text-title">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="footer-text-link">Home</a></li>
                    <li><a href="/about-us" class="footer-text-link">About us</a></li>
                    <!-- <li><a href="#" class="text-dark">Pricing</a></li>
                    <li><a href="#" class="text-dark">Contact Us</a></li> -->
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="col-md-3">
                <h5 class="footer-text-title">Contact</h5>
                <ul class="list-unstyled">
                    <!-- <li><a href="tel:+1234567890" class="text-dark">+1 (234) 567-890</a></li> -->
                    <li><a href="mailto:{{supportEmail}}" class="footer-text-link">{{supportEmail}}</a></li>
                    <!-- <li><a href="#" class="text-dark">1234 Street, City, Country</a></li> -->
                </ul>
            </div>

            <!-- Social Media Section -->
            <div class="col-md-3">
                <h5 class="footer-text-title">Follow Us</h5>
                <ul class="list-unstyled d-flex">
                    <li><a href="#" class="footer-text-link me-3"><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="footer-text-link me-3"><i class="fa-brands fa-square-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="footer-text-link me-3"><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col text-center">
                <p class="mb-0 text-muted">&copy; 2024 {{appName}}. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
