footer {
  margin-top: auto;
  margin-bottom: 0;
}

.footer-text-title {
  color: rgb(30 48 141);
  font-weight: 500;
}

.footer-text {
  color: rgb(127 127 127);
}

.footer-text-link {
  color: rgb(127 127 127);
  text-decoration: none;
}

footer > .footer-color .bg-transparent {
  color: #1e308d;
}


