@{
    ViewData["Title"] = "Подтверждение подписки";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Добро пожаловать в Премиум!</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Ваша подписка на наш Премиум-план подтверждена. Наслаждайтесь эксклюзивными функциями и используйте возможности платформы на максимум!</p>
    <p><a href="@Model.AccountLink">Управлять подпиской</a></p>
</body>
</html>
