@{
    ViewData["Title"] = "Подписка продлена";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Подписка успешно продлена</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Ваша подписка успешно продлена. Спасибо, что остаётесь с нами!</p>
    <p><a href="@Model.AccountLink">Просмотреть детали подписки</a></p>
</body>
</html>
