@{
    ViewData["Title"] = "Ваша бесплатная пробная версия скоро закончится";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Ваш пробный период заканчивается</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Ваш бесплатный пробный период закончится @Model.ExpiryDate. Перейдите на Премиум-план, чтобы продолжать пользоваться всеми преимуществами.</p>
    <p><a href="@Model.SubscriptionLink">Выбрать план</a></p>
</body>
</html>
