<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center; color: #1e308d">
        <h1>Welcome to a World of Real Connections</h1>
        <p class="lead" >
            Step into a world where genuine connections await you.
        </p>
        <ul style="text-decoration:none;list-style-type: none;">
            <li>
                Our platform is designed to help you find meaningful relationships that go beyond just swiping.

            </li>
            <li>
                With a focus on compatibility and shared interests, we ensure that every match has the potential to turn into something truly special.
            </li>
            <li>
                We believe that everyone deserves to find someone who understands them, shares their passions, and is ready to build memories together.
            </li>
            <li>
                Join us and start your journey toward love, companionship, and connection.
            </li>

        </ul>
        <h2>Discover Compatibility Like Never Before</h2>
        <p class="lead" style="font-size: 16px;">
            At our dating app, we use smart algorithms that go beyond basic profiles. We dive deeper into what makes you unique and match you with people who complement your personality and lifestyle. We make it easy to connect with like-minded individuals looking for the same things you are, whether it’s friendship, a serious relationship, or something in between. You’ll find profiles of real people who share your values and aspirations, making every match a step closer to finding that perfect someone.
        </p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <a href="/about-us" class="btn btn-primary btn-info btn-lg">Learn more</a>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center"
        >
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
</div>
