@{
    ViewData["Title"] = "התחל שיחה עם התאמה חדשה";
}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>זקוק לרעיון להתחלת שיחה?</h1>
    <p>שלום @Model.UserName,</p>
    <p>הנה רעיון לשבור את הקרח עם @Model.MatchName: "@Model.IcebreakerTip"</p>
    <p><a href="@Model.ChatLink">התחל לשוחח</a></p>
</body>
</html>
