@{
    ViewData["Title"] = "יש לך התאמה חדשה!";
}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>זו התאמה!</h1>
    <p>שלום @Model.UserName,</p>
    <p>יש לך התאמה עם @Model.MatchName. שלח הודעה והתחל לשוחח!</p>
    <p><a href="@Model.MatchLink">צפה בהתאמה</a></p>
</body>
</html>
