@{
    ViewData["Title"] = "מישהו קרוב מעוניין בך!";
}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>מישהו בסביבה עשוי להתאים לך!</h1>
    <p>שלום @Model.UserName,</p>
    <p>מצאנו מישהו קרוב שעונה על ההעדפות שלך. פתח את האפליקציה כדי לראות מי נמצא בקרבתך!</p>
</body>
</html>
