@{
    ViewData["Title"] = "Подтвердите ваш адрес электронной почты";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Подтверждение электронной почты</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Чтобы подтвердить ваш адрес электронной почты, пожалуйста, нажмите на ссылку ниже:</p>
    <a href="@Model.VerificationLink">Подтвердить электронную почту</a>
    <p>Если вы не запрашивали это, просто проигнорируйте это письмо.</p>
</body>
</html>
