@{
    ViewData["Title"] = "Пароль успешно изменен";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Пароль изменен</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Ваш пароль был успешно изменен. Если это сделали не вы, пожалуйста, <a href="@Model.ReportLink">сообщите об этом</a> немедленно.</p>
</body>
</html>
