@{
    ViewData["Title"] = "Обнаружена подозрительная активность";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Уведомление о подозрительной активности</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Мы обнаружили подозрительную активность в вашем аккаунте. Если это были не вы, пожалуйста, <a href="@Model.SecurityLink">защитите свой аккаунт</a>.</p>
</body>
</html>
