@{
    ViewData["Title"] = "Account Deactivation Confirmation";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Account Deactivated</h1>
    <p>Hello @Model.UserName,</p>
    <p>Your account has been deactivated. To reactivate, click <a href="@Model.ReactivateLink">here</a>.</p>
</body>
</html>
