@{
    ViewData["Title"] = "Отмечаем @Model.Milestone!";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Поздравляем с @Model.Milestone!</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Мы отмечаем важное достижение на нашей платформе, и все благодаря пользователям, таким как вы. Спасибо, что вы часть нашего сообщества!</p>
</body>
</html>
