@{
    ViewData["Title"] = "Специальное праздничное предложение только для вас!";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Праздничная скидка: @Model.DiscountPercentage% на Премиум!</h1>
    <p>Сезонные поздравления, @Model.UserName! Только на ограниченное время получите @Model.DiscountPercentage% скидку на наши Премиум-тарифы. Не упустите!</p>
    <p><a href="@Model.PromotionLink">Получить скидку</a></p>
</body>
</html>
