@{
    ViewData["Title"] = "Вдохновляющие истории успеха";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Истории успеха из нашего сообщества</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Посмотрите вдохновляющие истории пользователей, которые нашли успех на нашей платформе. Возможно, ваша история будет следующей!</p>
    <p><a href="@Model.StoriesLink">Читать истории успеха</a></p>
</body>
</html>
