@{
    ViewData["Title"] = "Мы по вам скучали! Возвращайтесь и узнайте, что нового";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Добро пожаловать обратно, @Model.UserName!</h1>
    <p>Мы добавили несколько интересных обновлений с вашего последнего визита. Ознакомьтесь с новыми функциями, потенциальными совпадениями и последней активностью.</p>
    <p><a href="@Model.AppLink">Войдите сейчас</a>, чтобы снова подключиться и узнать больше.</p>
</body>
</html>
