@{
    ViewData["Title"] = "חוגגים את @Model.Milestone!";
}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>לחיים ל-@Model.Milestone!</h1>
    <p>שלום @Model.UserName,</p>
    <p>אנחנו חוגגים הישג משמעותי בפלטפורמה שלנו, והכול בזכות משתמשים כמוך. תודה שאתה חלק מהקהילה שלנו!</p>
</body>
</html>
