@{
    ViewData["Title"] = "Обновление политики конфиденциальности";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Важное обновление политики конфиденциальности</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Мы обновили нашу политику конфиденциальности. Эти изменения могут повлиять на то, как ваши данные собираются, используются и хранятся на нашей платформе. Пожалуйста, ознакомьтесь с новой политикой по ссылке ниже.</p>
    <p><a href="@Model.PrivacyPolicyLink">Прочитать политику конфиденциальности</a></p>
</body>
</html>
