@{
    ViewData["Title"] = "Подтверждение получения жалобы";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Жалоба получена</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Спасибо, что сообщили о содержании или поведении, нарушающем наши правила. Наша команда рассмотрит вашу жалобу и примет необходимые меры, если это потребуется.</p>
    <p>Мы благодарим вас за вклад в обеспечение безопасности нашего сообщества!</p>
</body>
</html>
