@{
    ViewData["Title"] = "Советы по безопасности при знакомствах";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Соблюдайте безопасность на нашей платформе</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Чтобы сделать ваше пребывание безопасным и приятным, вот несколько советов:</p>
    <ul>
        <li>Держите общение внутри приложения, чтобы защитить вашу личную информацию</li>
        <li>Встречайтесь в общественных местах для личных встреч</li>
        <li>Доверяйте своим инстинктам и будьте осторожны, если что-то кажется неправильным</li>
    </ul>
    <p>Берегите себя и наслаждайтесь своим путешествием!</p>
</body>
</html>
