@{
    ViewData["Title"] = "Уведомление о мошенничестве/фишинге";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Важное уведомление безопасности</h1>
    <p>Здравствуйте, @Model.UserName,</p>
    <p>Мы хотим предупредить вас о возможных мошеннических действиях, направленных на пользователей приложений для знакомств. Пожалуйста, будьте осторожны с сообщениями, запрашивающими личную или финансовую информацию.</p>
    <p>Если вы столкнулись с подозрительным поведением, сообщите об этом нашей команде.</p>
</body>
</html>
